[Unit]
Description=Goby3 Interprocess Daemon

[Service]
ExecStart=/opt/goby3/bin/gobyd --app 'glog_config { tty_verbosity: VERBOSE }' --interprocess 'platform: "modemsim"'

[Install]
WantedBy=multi-user.target

