[Unit]
Description=netsim_core audio processor
After=gobyd.service
BindsTo=gobyd.service

[Service]
Environment="NETSIM_PROCESSOR_LIBRARY=/opt/lamss/lib/liblamss_netsim_processor_plugin.so"
ExecStart=/opt/netsim/build/bin/netsim_core /opt/netsim/missions/netsim-core.pb.cfg

[Install]
WantedBy=gobyd.service

