[Unit]
Description=NetSim manager 
After=gobyd.service
BindsTo=gobyd.service

[Service]
ExecStart=/opt/netsim/build/bin/netsim_manager /opt/netsim/missions/netsim_manager.pb.cfg

[Install]
WantedBy=gobyd.service

