[Unit]
Description=Socat for netsim: %i
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/socat tcp-l:6200%i,reuseaddr file:/dev/ttyUSB%i,b19200,raw,echo=0
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
