[Unit]
Description=NetSim Goby to/from MOOS gateway (Atlantic Environment)
After=gobyd.service
BindsTo=gobyd.service

[Service]
Environment="GOBY_MOOS_GATEWAY_PLUGINS=/opt/netsim/build/lib/libnetsim_moos_plugin.so"
ExecStart=/usr/bin/goby_moos_gateway /opt/netsim/missions/goby_moos_gateway-atlantic.pb.cfg 

[Install]
WantedBy=gobyd.service

