[Unit]
Description=NetSim MOOS community (Arctic Environment)
Before=netsim_moos_gateway-arctic.service
After=netsim_moos_gateway-atlantic.service

[Service]
User=toby
Group=toby
Environment="PATH=/opt/lamss/bin:/opt/lamss-shared/bin:/opt/goby3/bin:/opt/modemsim/build/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/opt/missions-lamss/topside/net_sim
ExecStartPre=/bin/bash -c "cd /opt/missions-lamss && ./cruise_config.sh arctic"
ExecStart=/opt/missions-lamss/topside/net_sim/simulation_launch.sh screen quiet

[Install]
WantedBy=multi-user.target
