[Unit]
Description=netsim_core audio processor
After=gobyd.service
BindsTo=gobyd.service

[Service]

# For system loopback testing
#Environment="NETSIM_PROCESSOR_LIBRARY=/opt/netsim/build/lib/libnetsim_processor_echo_plugin.so"
#ExecStart=/opt/netsim/build/bin/netsim_core /opt/netsim/missions/netsim-core-echo.pb.cfg

# For LAMSS Virtual Ocean
Environment="NETSIM_PROCESSOR_LIBRARY=/opt/lamss/lib/liblamss_netsim_processor_plugin.so"
ExecStart=/opt/netsim/build/bin/netsim_core /opt/netsim/missions/netsim-core.pb.cfg --bridge 'first_modem_index: 2 local_number_of_modems: 1' --jack 'server_name: "netsim2"' --app 'glog_config { file_log { file_name: "/opt/logs/netsim_core_card2_%%1%%.txt" }}'

[Install]
WantedBy=gobyd.service

