[Unit]
Description=NetSim Goby to/from MOOS gateway
After=gobyd.service
BindsTo=gobyd.service

[Service]
ExecStart=/opt/goby3/build/bin/goby_moos_gateway /opt/modemsim/missions/goby_moos_gateway.pb.cfg 

[Install]
WantedBy=gobyd.service

