[Unit]
Description=NetSim MOOS community (uSimModemNetwork)
Before=netsim_moos_gateway.service

[Service]
User=toby
Group=toby
Environment="PATH=/opt/lamss/bin:/opt/lamss-shared/bin:/opt/goby3/bin:/opt/modemsim/build/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
WorkingDirectory=/opt/missions-lamss/topside/net_sim
ExecStart=/opt/missions-lamss/topside/net_sim/simulation_launch.sh screen 

[Install]
WantedBy=multi-user.target
