[Unit]
Description=netsim_liaison user interface
After=gobyd.service
BindsTo=gobyd.service

[Service]
Environment="GOBY_LIAISON_PLUGINS=/opt/netsim/build/lib/libnetsim_liaison.so"
ExecStart=/opt/goby3/build/bin/goby_liaison /opt/netsim/missions/netsim-liaison.pb.cfg
Restart=always

[Install]
WantedBy=gobyd.service

